@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f0f;
  color: white;
}

.gradient_text {
  background: #4fbbe3;
  background: linear-gradient(to right, #4fbbe3 5%, #6b70ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Not found Page */

.four_zero_four_bg {
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  height: 400px;
  background-position: center;
}
